@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');



.MainContainer{
    height: auto;
    
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1rem;
}
.CardContainerFramework{
   width: 50%;
   margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.CardContainerFramework p{
    display: flex;
    align-items: center;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 6.3rem;
    color:var(--text-color);
}
.CardContainerLibraries{
   width: 50%;
   margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.CardContainerwrapper{
    width: 90%;
    height: 11rem;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    margin-inline: auto;
    mask-image: linear-gradient(to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 15%,
    rgba(0,0,0,1) 85%,
    rgba(0,0,0,0)
    ); 
}
.Cards{
   display: flex;
   justify-content: center;
   align-items: center;
    height: 10rem;
    width: 7rem;
    border-radius: 10px;
    border: 2px solid var(--text-color);
    background-color: var(--tertiary-color);
    flex-direction: column;
    position: absolute;
    left: calc(7rem * 5);
    animation-name: scrollLeft;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.CardsRight{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 10rem;
     width: 7rem;
     border-radius: 10px;
     border: 2px solid var(--text-color);
     background-color: var(--tertiary-color);
     flex-direction: column;
     position: absolute;
     right: calc(7rem * 5);
     animation-name: scrollRight;
     animation-duration: 10s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
 }

 @keyframes scrollRight {
    to {
        right: -7rem;
    }
}

 @keyframes scrollLeft {
    to {
        left: -7rem;
    }
}
.item1{
    animation-delay: calc(10s / 5 * (5 - 1) * -1);
}
.item2{
    animation-delay: calc(10s / 5 * (5 - 2) * -1);
}
.item3{
    animation-delay: calc(10s / 5 * (5 - 3) * -1);
}
.item4{
    animation-delay:calc(10s / 5 * (5 - 4) * -1) ;
}
.item5{
    animation-delay:calc(10s / 5 * (5 - 5) * -1) ;
}
.itemRight1{
    animation-delay: calc(10s / 5 * (5 - 1) * -1);
}
.itemRight2{
    animation-delay: calc(10s / 5 * (5 - 2) * -1);
}
.itemRight3{
    animation-delay: calc(10s / 5 * (5 - 3) * -1);
}
.itemRight4{
    animation-delay:calc(10s / 5 * (5 - 4) * -1) ;
}
.itemRight5{
    animation-delay:calc(10s / 5 * (5 - 5) * -1) ;
}

.Cards p{
    color:var(--text-color);
}

.CardsRight p{
    color:var(--text-color);
}

.skillsIcon{
    color: var(--text-color);
}

@media screen and (max-width:1024px) {
    .MainContainer{
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .CardContainerLibraries{
        justify-content: space-evenly;
        width: 100%;
        margin-top: 0%;
    }
    .CardContainerFramework{
        width: 100%;
    }
    .CardContainerFramework p{
        font-size: 4rem;
        margin-top: 2%;
    
    }
}


@media (max-width:768px) {
    .MainContainer{
        flex-direction: column;
        width: 100%;
      
        
       
    }
    .CardContainerFramework p{
        font-size: 3rem;
        margin-top: 6%;
    }
    .CardContainerFramework{
        width: 100%;
        
    }
    .CardContainerLibraries{
        width: 100%;
       
   
       
    }
    .Cards{
        margin : 1rem 1rem;
        height: 9rem;
        width: 7rem;
    }
}

@media screen and (max-width:425px) {
    .CardContainerFramework p{
        font-size: 2.5rem;
        margin-top: 15%;
    }
}